.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item { 
  border: 0.2vw solid red;
  border-radius: 1vw;
  padding: 1vw;
}

.paint {
  border: 0.1vw solid #333;
  display: block;
}

.btn-clear {
  margin: 1vw 0;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1vw;
  font-size: 1rem;
  background-color: lightcoral;
  color: white;
}

.data {
  width: 266px;
  height: 150px;
  margin: 5px 0;
}
